.main-background {
    width: 100%;
    min-height: 100%;
    background: #668663;
    border-radius: 35px;
    padding: 12px 0 12px 0;
}

.content-background {
    height: 876px;
    margin-right: 13px;
    width: 1133px;
    background: #FFFFFF;
    border-radius: 25px;
}

.renewal-background {
    left: 349px;
    top: 702px;
    position: absolute;
    width: 506px;
    height: 287px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px #869CB0;
    border-radius: 28px;
}

.parent {
    display: flex;
    justify-content: start;
    align-items: start;
    overflow-x: auto;
    margin-top: 26px;
    margin-left: 18px;
    padding-bottom: 76px;
}

.parent::-webkit-scrollbar {
    display: none;
}

.giraffe-card {
    margin-left: 33px;
    min-width: 236px;
    height: 495px;
    background: #F3DBC7;
    border-radius: 28px;
}

body {
    margin: 0 !important;
}

.flex-row {
    display: flex;
}