.top-bar-container {
    padding-left: 49px;
    padding-top: 17px;
    padding-right: 40px;
}

.top-bar-common {
    display: flex;
    justify-content: space-between;
}
section.top-bar-common{
    margin-top: 12px;

}

.top-bar-common-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.giraffe-label-container {
    display: flex;
    padding-top: 35px;

}

.top-bar-labels {
    width: 67px;
    height: 19px;
    margin-right: 19px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #D9D9D9;
}

.top-bar-labels :hover {
    color: #484848;
    background-color: red;
}

.separator {
    margin-top: 10px;
    width: 1042px;
    height: 3px;
    background: #D9D9D9;
    border-radius: 18px;
}

.add-aviary {
    width: 20px;
    height: 20px;

    padding-left: 5px;
    background: #D9D9D9;
    border-radius: 52px;
}

.float-right{
    margin-left: auto;
    order: 2;
}

.bell{
    width: 21px;
    height: 28px;
}
.email{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #484848;
    margin-left: 13px;
}

/* TODO cant find*/
.avatar{
    height: 34px;
    width: 34px;
    margin-left: 24px;
    background: url(../../images/giraffe-logo.png);
}