.top-bar-container {
    padding: 17px 40px 0 49px;
}

.top-bar-common {
    display: flex;
    justify-content: space-between;
}

section.top-bar-common {
    margin-top: 12px;
}

.top-bar-common-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.giraffe-label-container {
    display: flex;
    padding-top: 35px;
}

.top-bar-labels {
    height: 19px;
    margin-right: 19px;

    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #D9D9D9;
    cursor: pointer;
}

.top-bar-labels-selected {
    color: #484848;
}

.separator {
    margin-top: 10px;
    width: 1042px;
    height: 3px;
    background: #D9D9D9;
    border-radius: 18px;
}

.separator-selected{
    width: 67px;
    height: 100%;
    background: #567354;
    border-radius: 18px;
}

.bell {
    width: 21px;
    height: 28px;
    cursor: pointer;
}

.email {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #484848;
    margin-left: 13px;
    cursor: pointer;
}

.avatar {
    height: 34px;
    width: 34px;
    margin-left: 24px;
    cursor: pointer;
    background: url(../../images/giraffe-logo.png);
}

.add-giraffe {
    width: 37px;
    height: 37px;
    background: #668663;
    border-radius: 52px;
    padding: 10px;
    cursor: pointer;
}

.add-giraffe-svg {
    width: 16px;
    height: 16px;
}