.aviary-background {
    width: 506px;
    height: 150px;
    margin-left: 587px;
    background: #668663;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding-bottom: 10px;
}

.aviary-info-flex-row {
    display: flex;
    align-items: flex-end;
}

.close {
    width: 16px;
    height: 21px;
    order: 1;
    margin-left: 122px;
    margin-top: 16px;
    align-self: flex-start;
}

.percentage {
    margin-left: 36px;
    margin-top: 22px;

    font-size: 50px;
    line-height: 59px;
}

.percentage-label {
    margin: 0 0 10px 18px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.percentage-bar-parent {
    width: 323px;
    height: 31px;
    background: #435F40;
    border-radius: 35px;
    display: flex;
    align-items: center;
}

.percentage-bar-child {
    width: 238px;
    height: 23px;
    margin-left: 5px;
    background: #F3DBC7;
    border-radius: 35px;
}

.info-button {
    width: 110px;
    height: 31px;
    margin-left: 23px;
    background: #435F40;
    border-radius: 35px;
}

.info-button-label {
    margin: 9px 18px;
    font-size: 12px;
    line-height: 14px;
}

.percentage-bar-flex-row {
    display: flex;
    margin: 5px 0 0 30px;
}